* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgb(230, 230, 230);
}

h1,h2,h3 {
    padding: 0.5rem;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#root {
    overflow-y: scroll;
}

a {
    text-decoration: inherit;
}

.authForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.authForm>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    position: absolute;
    right: 20px;
    top: 80px;
    overflow: hidden;
    width: 0;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    transform: translateX(calc(250px + 20px));
    transition: transform 0.5s;
    color: white;
}

.toast.success {
    background-color: #007f0d;
    transform: translateX(0);
}

.toast.info {
    background-color: #d5b720;
    transform: translateX(0);
}

.toast.error {
    background-color: #f44336;
    transform: translateX(0);
}

/* todo_card */

.container {
    margin-top: 100px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 599px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

.cardEffect {
    background-color: rgba(76, 81, 96, 0.2);
    overflow: hidden;
    position: relative;
    transition: background-color 0.7s, transform 0.7s;
    border: 1px solid transparent;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    height: 300px;
    min-height: 300px;
    margin: 0 auto;
}

.cardEffect:hover {
    background-color: rgba(76, 81, 96, 0.1);
    transform: translateY(-0.5rem);
}

@media (min-width: 768px) {
    .card {
        gap: 2rem;
    }
}

.todoCard {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toDoAddBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoAddBox > form {
    max-width: 500px;
    width: 100%;
}

.createdAt {
    font-size: 0.9rem;
    color: #777;
    margin-top: 0.5rem;
}

.completionIcon {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.completion-checkbox {
    display: none;
}

.completion-checkbox + label {
    cursor: pointer;
}

.completion-checkbox:checked + label + svg {
    color: green;
}

.completion-checkbox:not(:checked) + label + svg {
    color: red;
}

.comp-label {
    font-size: 0.8rem;
    font-style: italic;
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

/* fixed input color on input page*/
.toDoAddBox > form > label:first-child {
    background-color: white;
}
